<!DOCTYPE html>
<html>
    <head>
        <title>Callback results </title>
	</head>
    <body >
		<p>Verification Code: <%= @result['code'] %> </p>
		<p>Access Token: <%= @result['access_token'] %> </p>
	</body>
</html>
